컬러 변수
:root {
  --point-color1: #ff7200;
  --point-color2: #009223;
  --txt-color-400: #888;
  --txt-color-500: #333;
  --txt-color-600: #000;
}

#wrap {
  min-width: 1280px;
  height: 2500px;
  position: relative;
}

#header {
  position: relative;
  left: 0;
  top: 0;
  background: none;
  width: 100%;
  height: 735px;
  z-index: 9999;
}
#header::before {
  display: none;
}
#header.on::before {
  content: '';
  position: absolute;
  left: 0;
  top: 93px;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
#header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 94px;
  width: 100%;
  height: 0px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transition: all 0.3s;
}
#header.on::after{
  height: 257px;
  z-index: 2;
}

#header .inner {
  display: block;
  background: none;
  width: 100%;
  height: 735px;
  text-align: center;
}
#header .inner .logo {
  position: absolute;
  top: 25px;
  left: 35px;
  width: 157px;
  height: 41px;
}
#header .inner .login_wrap {
  position: absolute;
  right: 50px;
  top: 37px;
  display: flex;
  align-items: center;
}
#header .inner .login_wrap > li:first-child {
  width: 90px;
  letter-spacing: -1px;
  font-size: 1.4rem;
  color: #111;
  font-weight: 500;
}
#header .login_wrap .login {
  display: block;
  border: 1px solid black;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 1.3rem;
}

#header .login_wrap .mypage {
  display: block;
  width: 29px;
  height: 25px;
  margin-left: 12px;
}
#header .inner .menu_btn {
  display: block;
  width: 29px;
  height: 25px;
  margin-left: 12px;
}

#header .gnb {
  display: flex;
  height: 94px;
  justify-content: center;
  transition: all 0.3s;
}

#header .gnb>li {
  position: relative;
  width: 200px;
}
#header .gnb>li>a {
  padding: 28px 75px 28px;
  display: block;
  text-align: center;
  line-height: 36px;
  color: var(--txt-color-600);
  font-size: 1.6rem;
}
#header .gnb>li:hover>a {
  color: var(--point-color1);
}

#header .gnb .depth2 {
  position: absolute;
  left: 0;
  top: 94px;
  z-index: 10;
  width: 100%;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-20px);
}
#header.on .gnb {
  background: #fff;
}
#header.on .gnb .depth2 {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  max-height: 351px;
  z-index: 3;
}
#header .gnb .depth2 li {
  display: block;
  text-align: center;
}
#header .gnb .depth2 li+li {
  margin-top: 10px;
}
#header .gnb .depth2 a {
  font-size: 1.6rem;
}
#header .gnb .depth2 a:hover {
  color: var(--point-color1);
}

#header .main_slider {
  width: 1200px;
  height: 641px;
  margin: 0 auto;

}

#header .main_slider .slide01 {
  position: relative;
}
#header .main_slider .slide01 .img_wrap {
  position: absolute;
  right: -50px;
  top: 100px;
  max-width: 850px;
  height: 480px;
}

#header .main_slider .slide01 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 50px;
  text-align: left;
}
#header .slide01 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide01 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide01 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}
#header .tit_wrap .txt_wrap .btn {
  width: 100px;
  height: 32px;
  margin-top: 20px;
  padding: 8px 14px;
  font-size: 1.4rem;
  border-radius: 20px;
  border-color: #fff;
  color: #fff;
}


#header .main_slider .slide02 {
  position: relative;
}
#header .main_slider .slide02 .img_wrap {
  position: absolute;
  right: -110px;
  top: 140px;
  max-width: 700px;
  height: 490px;
}

#header .main_slider .slide02 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 50px;
  text-align: left;
}
#header .slide02 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide02 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide02 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}


#header .main_slider .slide03 {
  position: relative;
}
#header .main_slider .slide03 .img_wrap {
  position: absolute;
  right: -160px;
  top: 80px;
  max-width: 1100px;
  height: 560px;
}

#header .main_slider .slide03 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 0px;
  text-align: left;
}
#header .slide03 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide03 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide03 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}

#header .main_slider .slide04 {
  position: relative;
}
#header .main_slider .slide04 .img_wrap {
  position: absolute;
  right: 0px;
  top: 140px;
  max-width: 1000px;
  height: 490px;
}

#header .main_slider .slide04 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0px;
  text-align: left;
}
#header .slide04 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide04 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide04 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}

#header .main_slider .slide05 {
  position: relative;
}
#header .main_slider .slide05 .img_wrap {
  position: absolute;
  right: -80px;
  top: 80px;
  max-width: 650px;
  height: 520px;
}

#header .main_slider .slide05 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0px;
  text-align: left;
}
#header .slide05 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide05 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide05 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}

#header .main_slider .slide06 {
  position: relative;
}
#header .main_slider .slide06 .img_wrap {
  position: absolute;
  right: -130px;
  top: 40px;
  max-width: 970px;
  height: 640px;
}

#header .main_slider .slide06 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0px;
  text-align: left;
}
#header .slide06 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide06 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide06 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}

#header .main_slider .slide07 {
  position: relative;
}
#header .main_slider .slide07 .img_wrap {
  position: relative;
  right: -260px;
  top: 40px;
  max-width: 910px;
  height: 550px;
}

#header .main_slider .slide07 .tit_wrap .txt_wrap {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0px;
  text-align: left;
}
#header .slide07 .tit_wrap .txt_wrap p {
  font-size: 2.6rem;
  color: #fff;
}
#header .slide07 .tit_wrap .txt_wrap strong {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
#header .slide07 .tit_wrap .txt_wrap em {
  font-size: 2rem;
  color: #fff;
}

#header .swiper-button-prev:after {
  display: none;
}
#header .swiper-button-next:after {
  display: none;
}
#header .swiper-button-prev {
  position: absolute;
  top: 367px;
  left: 50px;
  width: 60px;
  height: 60px;
  transform: rotateY(180deg);
}
#header .swiper-button-next {
  position: absolute;
  top: 367px;
  right: 50px;
  width: 60px;
  height: 60px;
}

#header .btn_wrap .swiper-pagination {
  position: absolute;
  bottom: -10px;
  left: 1000px;
  background: #00000066;
  border-radius: 25px;
  width: 132px;
  line-height: 45px;
}
#header .swiper-pagination span {
  font-size: 2.5rem;
  color: #fff;
}
.main_slider .btn_wrap {
  height: 48px;
  position: relative;
}
.main_slider .btn_wrap .toggle_btn {
  position: absolute;
  bottom: -10px;
  left: 900px;
  width: 48px;
  height: 48px;
  background: #00000066;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}
.main_slider .btn_wrap .ri-pause-fill {
  display: block;
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 20px;
  border-color: #fff;
  border-style: double;
  border-width: 0 0 0 20px;
}
.main_slider .btn_wrap .ri-play-fill {
  display: block;
  position: absolute;
  top: 14px;
  left: 18px;
  width: 10px;
  height: 10px;
  border-color: transparent transparent transparent white;
  border-style: solid solid solid solid;
  border-width: 10px 0 10px 16px;
}




#container {
  height: 5000px;
}
#container .main_quick_wrap .inner {
  height: 150px;
  display: flex;
}

.main_quick_wrap .main_banner {
  display: flex;
  width: 350px;
  height: 150px;
  padding: 35px 20px;
  background-color: var(--point-color1);
}

.main_quick_wrap .main_banner img {
  width: 80px;
  height: 80px;
}
.main_quick_wrap .main_banner span {
  color: #fff;
  font-size: 1.6rem;
  padding-left: 15px;
}

.main_quick_wrap .quick_wrap {
  display: inline-block;
  display: flex;
  max-width: 1200px;
  vertical-align: top;
}
.main_quick_wrap .quick_wrap li {
  width: 200px;
  padding-top: 30px;
}
.main_quick_wrap .quick_wrap a {
  display: flex;
  height: 120px;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.main_quick_wrap .quick_wrap a::after {
  content: '';
  position: absolute;
  height: 100px;
  top: 50%;
  left: 0;
  margin-top: -50px;
  width: 1px;
  background: #f0f0f0;
}
.main_quick_wrap .quick_wrap a:hover {
  color: var(--point-color1);
}
.main_quick_wrap .quick_wrap a:hover img {
  transform:  scale(1.1);
}
.main_quick_wrap .quick_wrap img {
  transition: all 0.1s;
  width: 40px;
  height: 40px;
}
.main_quick_wrap .quick_wrap span {
  padding-top: 15px;
  text-align: center;
}


#container .main_benefit {
  background: #f0f0f0;

}
.main_benefit .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  height: 1066px;
}
.main_benefit h1 {
  font-size: 2.9rem;
  color: #222;
  font-weight: 500;
  text-align: center;
}

.main_benefit .main_benefit_wrap {
  position: relative;
  margin-top: 50px;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.main_benefit_wrap .inner_half {
  width: 48%;
  display: table-cell;
  vertical-align: top;
}
.main_benefit_wrap .inner_half a {
  display: block;

}
.main_benefit .main_webzine_wrap {
  position: relative;
}
.main_benefit_wrap .inner_half .main_webzine_wrap li {
  position: relative;
  display: inline-block;
  width: calc(50% - 15px);
  height: 297px;
  max-height: 288px;
  overflow: hidden;
}
.main_benefit_wrap .inner_half .main_webzine_wrap .main_webzine span {
  background-color: #00000080;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px 26px 14px 20px;
  width: 100%;
}
.inner_half .main_webzine_wrap .main_webzine {
  position: relative;
  display: block;
  overflow: hidden;
}
.main_widzet {
  display: flex;
  margin-top: 15px;
}

.main_widzet .main_widzet_event {
  width: 585px;
}

.main_widzet .main_widzet_quick {
  width: 576px;
  background: #fff;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  margin-left: 16px;
}
.main_widzet .main_widzet_quick ul {
  display: flex;
  height: 100%;
}
.main_widzet .main_widzet_quick li {
  display: inline-flex;
  width: calc(33.3% - 1px);
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d7d7d7;
  text-align: center;
  box-sizing: border-box;
}
.main_widzet .main_widzet_quick li:last-child {
  border-right: none;
}

.main_widzet .main_widzet_quick img {
  width: 50px;
}
.main_widzet .main_widzet_quick span {
  font-size: 1.5rem;
}
.main_widzet .main_widzet_quick a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_service .inner {
  height: 925px;
  position: relative;
}
.main_service .inner h1 {
  color: #fff;
  font-size: 29px;
  text-align: center;
}






.main_service {
  width: 100%;
  height: 925px;
  background: url(../images/mainslide/bg_main_service.png) no-repeat;
  padding: 100px 0;
}
.main_service_content img {
  width: 394px;
}
.main_service .main_service_tab {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  width: 1200px;
  line-height: 60px;
}
.main_service .main_service_tab>li>a {
  font-size: 20px;
  color: #fff;
  width: 600px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.main_service .tab1.active a {
  color: var(--point-color1);
  border-color: var(--point-color1);
}
.main_service .tab2.active a {
  color: var(--point-color1);
  border-color: var(--point-color1);
}
.main_service .main_service_content {
  width: 1200px;
  margin: 0 auto;
}
.main_service_content .tit_wrap {
  background-color: #fff;
  width: 394px;
  height: 230px;
  padding: 30px;
}
.main_service_content .tit_wrap h2 {
  font-size: 22px;
  color: #222;
}
.main_service_content .tit_wrap p {
  color: #888;
  font-size: 16px;
}
.main_service_content .tit_wrap span {
  position: absolute;
  bottom: 30px;
  font-size: 1.4rem;
  color: #222;
  font-weight: 600;
}
.main_service .all_btn {
  position: absolute;
  bottom: 126px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 50px;
  border: 1px solid #fff;
  color: #fff;
  line-height: 47px;
}
.main_service .all_btn:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1200px) {
  #header .gnb_wrap .gnb > li {
    width: 100px;
  }
  #header .gnb_wrap .gnb > li > a {
    font-size: 1.5rem;
  }
  #header .gnb .depth2 > li {
    width: 100px;
  }
  #header .gnb .depth2 > li > a {
    font-size: 1.4rem;
  }
  .login_wrap {
    width: 150px;
  }
  .login_wrap span {
    display: none;
  }
}

@media (max-width: 767px) {
  #header {
    height: 60px;
  }
  #header .logo {
    top: 13px;
    left: 15px;
  }
  #header .logo img {
    height: 35px;
  }
  #header .gnb_wrap {
    display: none;
  }

  #header .inner .login_wrap {
    top: 20px;
    right: 15px;
  }
  #header .login_wrap .login {
    display: none;
  }
}
